
.header {
  text-align: center;
  color: #EF00FF;
}

.input-title {
  text-align: center;
  color: #8D0097;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;  
  margin-top: 100px;  
}

.content {
  height: 300px;
  width: 300px;  
  border: 1px solid #EF00FF;
  display:flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
}

.button-style {
  width: 50%;
  background-color: #EF00FF;
  color: white;
  border: none;
  padding: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}

.input-style {
  margin-bottom: 50px;

}